* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

html {
  -webkit-app-region: drag;
}

textarea {
  -webkit-app-region: no-drag;
}

h1 {
  height: 100vh;
  border-radius: 50%;
  overflow: hidden;
  background-color: skyblue;
}
